[submodule "menudrawer"]
	path = menudrawer
	url = git://github.com/SimonVT/android-menudrawer.git
	branch = master
[submodule "pulltorefresh"]
	path = pulltorefresh
	url = git://github.com/chrisbanes/Android-PullToRefresh.git
