version: 2
jobs:
  build:
    docker:
      - image: circleci/android:api-26-alpha
    working_directory: ~/ultrasonic
    envoronment:
      JVM_OPTS: -Xmx3200m
    steps:
      - checkout
      - restore_cache:
          key: gradle-cache-{{ checksum "dependencies.gradle" }}
      - run:
          name: checkstyle
          command: ./gradlew -Pqc ktlintCheck
      - run:
          name: build
          command: ./gradlew assembleDebug
      - run:
          name: unit-tests
          command: |
            ./gradlew :subsonic-api:test :ultrasonic:testDebugUnitTest
            ./gradlew jacocoFullReport
            bash <(curl -s https://codecov.io/bash)
      - run:
          name: lint
          command: ./gradlew lint
      - run:
          name: static analysis
          command: ./gradlew -Pqc detektCheck
      - save_cache:
          paths:
            - ~/.gradle
          key: gradle-cache-{{ checksum "dependencies.gradle" }}
      - store_artifacts:
          path: ultrasonic/build/reports
          destination: reports
      - store_artifacts:
          path: build/reports/jacoco/jacocoFullReport/

